footer.footer   
    .footer_logo
        img(src='/img/logo-green.png' alt='Shop logo')
    ul.footer__nav 
        li:a(href='#') About us
        li:a(href='#') Download apps
        li:a(href='#') Become an employee 
        li:a(href='#') Careers 
        li:a(href='#') Contact
    p.footer__copyright &copy; by Andrian Maistrenko.